
@model IEnumerable<ProyectoAppGestionCapacitacionesUNED.Models.EncuestaPersonalAdministrativo>
    @{
        ViewData["Title"] = "Reporte Sugerencias de Personal Administrativo";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <form asp-action="ReporteSugerencias" asp-controller="ReportesPersonalAdministrativo" method="post">
        <br />
        <div class="form-row">
            <div class="col-6">
                <h2 class="text-info">Reporte de Sugerencias de Personal Administrativo</h2>
            </div>
        </div>
        <br />

        <div class="form-row">
            <div class="col-auto">
                <h5 class="font-weight-bold">Código: </h5>
            </div>
            <div class="col-auto">
                <input type="text" name="searchCode" value="@ViewBag.CurrentFilter" />

            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-info" value="Buscar" />
            </div>

        </div>

        <div class="form-row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </form>

    <hr />

    @if (Model.Any())
    {


        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Nombre de la capacitación: @Model.First().CapacitacionPersonalAdministrativo.NombreCapacitacion
                </th>
            </tr>
            <tr>
                <th>
                    Código: @Model.First().CapacitacionPersonalAdministrativo.Codigo
                </th>
            </tr>
            <tr>
                <th>
                    Instructor: @Model.First().CapacitacionPersonalAdministrativo.NombreInstructor
                </th>
            </tr>
            <tr>
                <th>
                    Fecha de la capacitación: @Model.First().CapacitacionPersonalAdministrativo.FechaCapacitacion.ToShortDateString()
                </th>
            </tr>
        </table>


        <table class="table table-striped table-bordered" id="tb">

            <tr>

                <th>Sugerencias</th>


            </tr>

            @foreach (var item in Model)
            {

                if (item.Pregunta10 != "")
                {

                    <tr>

                        <td>
                            @Html.DisplayFor(m => item.Pregunta10)
                        </td>

                    </tr>
                }

            }



        </table>
        <a asp-controller="ReportesPersonalAdministrativo" asp-action="ReporteSugerenciasPersonalAdministrativo" asp-route-searchCode="@ViewBag.CurrentFilter" target="_blank">Generar PDF</a>
        <br />
    }
    <br />
    <div class="form-group">

        <a asp-controller="Home" asp-action="MenuPersonalAdministrativo" class="btn btn-success">Volver</a>

    </div>

