
@model List<ProyectoAppGestionCapacitacionesUNED.Models.AsistenciaPersonalAdministrativo>
    @{
        ViewData["Title"] = "Reporte Grado Académico de Personal Administrativo";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <form asp-action="ReporteGradoAcademico" asp-controller="ReportesPersonalAdministrativo" method="post">
        <br />
        <div class="form-row">
            <div class="col-6">
                <h2 class="text-info">Reporte de Grado Académico de Personal Administrativo</h2>
            </div>
        </div>
        <br />

        <div class="form-row">
            <div class="col-auto">
                <h5 class="font-weight-bold">Código: </h5>
            </div>
            <div class="col-auto">
                <input type="text" name="searchCode" value="@ViewBag.CurrentFilter" />

            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-info" value="Buscar" />
            </div>

        </div>

        <div class="form-row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </form>
    <hr />


    @if (Model.Any())
    {

        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Nombre de la capacitación: @Model.First().CapacitacionPersonalAdministrativo.NombreCapacitacion
                </th>
            </tr>
            <tr>
                <th>
                    Código: @Model.First().CapacitacionPersonalAdministrativo.Codigo
                </th>
            </tr>
            <tr>
                <th>
                    Instructor: @Model.First().CapacitacionPersonalAdministrativo.NombreInstructor
                </th>
            </tr>
            <tr>
                <th>
                    Fecha de la capacitación: @Model.First().CapacitacionPersonalAdministrativo.FechaCapacitacion.ToShortDateString()
                </th>
            </tr>
        </table>


        var grupo = new List<string>();

        @for (int i = 0; i < Model.Count(); i++)
        {
            var registro = Model[i].RegistroPersonalAdministrativo.GradoAcademico.ToString();
            grupo.Add(registro);
        }

        var repetidos = grupo.GroupBy(x => x)
                            .Where(g => g.Count() > 1)
                            .Select(g => g.Key)
                            .ToList();

        var resultado = new List<string>();

        if (repetidos.Any())
        {
            var norepetidos = grupo.Except(repetidos).ToList();
            resultado = norepetidos.Concat(repetidos).ToList();

        }
        else
        {
            resultado = grupo;
        }


        @for (int i = 0; i < resultado.Count(); i++)
        {

            var contador = 0;


            <table class="table table-striped table-bordered" id="tb">
                <tr>
                    <th>Grado Académico @resultado[i]</th>
                </tr>
                <tr>

                    <th>Nombre</th>
                    <th>Cédula</th>

                </tr>


                @foreach (var item in Model)
                {
                    if (item.RegistroPersonalAdministrativo.GradoAcademico == resultado[i])
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(m => item.RegistroPersonalAdministrativo.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.RegistroPersonalAdministrativo.Cedula)
                            </td>

                        </tr>
                        contador++;
                    }


                }

                <tr>
                    <th>Cantidad de personas de Grado Académico @resultado[i] son: @contador</th>
                </tr>

            </table>

        }
        <a asp-controller="ReportesPersonalAdministrativo" asp-action="ReporteGradoAcademicoPersonalAdministrativo" asp-route-searchCode="@ViewBag.CurrentFilter" target="_blank">Generar PDF</a>
        <br />
    }


    <br />
    <div class="form-group">

        <a asp-controller="Home" asp-action="MenuPersonalAdministrativo" class="btn btn-success">Volver</a>

    </div>

